<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <!-- Bootstrap JS -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap template -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

        <title>Assignment 1 - Jacob Bruce</title>
    </head>
    <style>
        p {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
                Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
                'Segoe UI Symbol', 'Noto Color Emoji';
        }
        p span {
            margin: 5px 0px;
        }
    </style>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <main class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-baseline">
                    <h3>Assignment 1</h3>
                    <p class="py-5 d-flex flex-column">
                        <span
                            >View all players & perform appropriate CRUD operations on players from
                            the players tab</span
                        >
                        <span>Organize teams and view team rosters from the teams tab</span>
                        <span>Trade & move players from the trade tab</span>
                        <span>Search from the navbar</span>
                    </p>
                    <a href="/teams" class="btn btn-outline-primary">View Teams</a>
                </div>
                <div class="col">
                    <img
                        th:src="@{images/volleyball.png}"
                        class="img-fluid my-5"
                        alt="volleyball"
                    />
                </div>
            </div>
        </main>
    </body>
</html>
