<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <!-- Bootstrap JS -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap template -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

        <!-- font awsome icons -->
        <script src="https://kit.fontawesome.com/d0410989a7.js" crossorigin="anonymous"></script>

        <title>Players</title>
    </head>
    <style>
        i {
            cursor: pointer;
        }
    </style>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <main class="container">
            <h1 class="my-4 text-center">Players</h1>
            <a href="/addPlayer">Add New Player</a>
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Age</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="player : ${players}">
                            <td th:text="${player.name}"></td>
                            <td th:text="${player.email}"></td>
                            <td th:text="${player.phone}"></td>
                            <td th:text="${player.age}"></td>
                            <td th:text="${player.gender}"></td>
                            <td>
                                <a th:href="@{/editPlayer/{id}(id=${player.id})}"
                                    ><i class="fas fa-edit"></i
                                ></a>
                            </td>
                            <td>
                                <a th:href="@{/deletePlayer/{id}(id=${player.id})}"
                                    ><i class="fas fa-trash"></i
                                ></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
